[run]
source = src
omit = 
    src/**/__init__.py,
    src/tests/**,
    src/displays/**,
    src/main.py,
    src/levels.py,
    src/objects/**,
    src/rendering.py,
    src/clock.py,
    src/user_events.py
    src/pygame_events.py
    src/image_loader.py
    src/stubs.py
